name: deploy
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3.9.0
        with:
          distribution: 'adopt'
          java-version: '17'

      - uses: s4u/maven-settings-action@v2.8.0
        with:
          servers: '[{"id": "github", "username": "${{secrets.SSH_USERNAME}}", "password": "${{secrets.SSH_GITHUB_TOKEN}}"}]'

      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots clean package -DskipTests

      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: unnecessary

      - name: Adding Known Hosts
        run: ssh-keyscan -p ${{ secrets.SSH_PORT }} -H ${{ secrets.SSH_HOST }}  >> ~/.ssh/known_hosts

      - name: Create dist_tomcat folder
        run: cd ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} && mkdir -p actions && cd actions && mkdir -p dist_tomcat && cd dist_tomcat && mkdir -p ${{ secrets.PROJECT_NAME }} && cd ${{ secrets.PROJECT_NAME }}


      - name: Move build to server with rsync
        run: rsync -avz -e "ssh -p ${{ secrets.SSH_PORT }}" ./target/${{ secrets.PROJECT_NAME }}.war ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/actions/dist_tomcat/${{ secrets.PROJECT_NAME }}

      - name: Move data inside Tomcat Container
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd /actions/dist_tomcat/${{ secrets.PROJECT_NAME }}
            docker cp ./ ${{secrets.NAME_CONTAINER}}:/usr/local/tomcat/webapps


